@font-face {
    font-family: Baumans;
    src: url("../../assets/fonts/bauman/Bauman-Regular.otf");
}

.scroll-bar-button{
    width: 100%;
    display: flex;
    justify-content: center;


    .button-cover1{
        display: flex;
        flex-direction: column;
        justify-content: center;

        .button1{
            cursor: pointer;
            z-index: 10;
            transform: rotateZ(180deg);
        }
    }

    .scroll-bar{
        // width: 100%;
        display: flex;
        justify-content: center;
    }

    .button-cover2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        .button2{
            cursor: pointer;
            z-index: 10;
        }
    }
}

.disable{
    display: none;
    pointer-events: none;
}



// style the button containers
