@font-face {
    font-family: Baumans;
    src: url("../../assets/fonts/bauman/Bauman-Regular.otf");
}

.scroll-bar-button{
    width: 100%;
    display: flex;
    justify-content: center;

    .button-cover1{
        width: 6%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .button1{
            cursor: pointer;
            transform: rotateZ(180deg);
        }
    }

    .scroll-bar{
        width: 80%;
        display: flex;
        justify-content: center;
    }

    .button-cover2{
        width: 6%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        .button2{
            cursor: pointer;
        }
    }
}

.disable{
    display: none;
    pointer-events: none;
}

