.event-base{
    padding: 5% 0;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(90deg, #112852 19.91%, #010101 94.44%);

    .main-cont{
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        row-gap: 5%;
        padding-top: 5%;
        .event-mobile-scrollbar{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 10%;
            width: 100%;
        }

        .particular-event-display{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 80%;
            width: 100%;
        }
    }
}