
    

    .event-outer {
        row-gap: 8%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        background-color: #071E40;
        color: white;

        .event-rendering {
            // height: 100%;
            width: 60%;
            // margin-bottom: 4%;
            
        }

        .event-scroller {
            width: 50%;
            display: flex;
            justify-content: space-between;
        }
    }

