.event-outer {
    user-select: none;
    row-gap: 4%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #071E40;
    color: white;

    .event-rendering {
        width: 60%;
    }

    .event-scroller {
        width: 55%;
        display: flex;
        justify-content: space-between;
    }
}