.event-outer {
    box-sizing: border-box;
    user-select: none;
    row-gap: 2%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #071E40;
    color: white;

    .event-rendering {
        margin-right: 2.5%;
        height: 60%;
        width: 75%;
    }

    .event-scroller {
        width: 50%;
        display: flex;
        justify-content: center;
        padding-bottom: 4%;
    }
}

.loading-logo {
    height: 120px;
    width: 120px;
    animation: loading 2s infinite linear;
}

@keyframes loading {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}