// @media only screen and (width: 1024px){
//     .event-outer{
//         height: 91vh !important;
//     }
// }

.event-outer {
    box-sizing: border-box;
    // padding: 10% 0;
    user-select: none;
    row-gap: 2%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #071E40;
    color: white;
    // border: 1px solid red;

    .event-rendering {
        height: 55%;
        width: 60%;
        // border: 1px solid white;
    }

    .event-scroller {
        margin-left: 4%;
        width: 60%;
        display: flex;
        justify-content: center;
    }
}

.loading-logo {
    height: 120px;
    width: 120px;
    animation: loading 2s infinite linear;
}

@keyframes loading {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}