
.hi-mainwrap{
    height: 100vh ;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}


.heroinitial{
    z-index: 1;
    height: 82vh;
    width: 100vw;
    background: url("../../assets/images/hero-img-1.svg") no-repeat bottom center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cerebro-logo{
    margin-bottom: 7%;
    animation: hovering 3s ease-in-out;
    animation-iteration-count: 2;
}

@keyframes hovering{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-30px);
    }
    100%{
        transform: translateY(0px);
    }
}
    


@media screen and (min-width: 1000px) and (max-width: 1440px){
    .heroinitial{
        height: 88vh;
        background:url("../../assets/images/hero-img-1-1280px.svg") no-repeat bottom center;
    }
    .cerebro-logo{
        width:200px;
        height:200px;
        margin-bottom: 10%;
    }
}
    
