

.sponsors{
    user-select: none;
    box-sizing: border-box;
    background-color: #071E40;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    @media only screen and (max-width: 768px){
        background: linear-gradient(90deg, #112852 19.91%, #010101 94.44%);
    }
    .left-pillar{
        @media only screen and (max-width: 768px){
            display: none;
        }
        height: 100vh;
        width: 35%;
        img{
            height: 100%;
            width: 100%;
        }
    }
    .right-pillar{
        @media only screen and (max-width: 768px){
            display: none;
        }
        height: 100vh;
        width: 35%;
        img{
            height: 100%;
            width: 100%;
        }
    }
    .main-cont{
        position: absolute;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 80%;
        @media only screen and (max-width: 768px){
            padding-top: 8%;
            height: 100%;
            width: 100%;
        }
        .title-cont{
            height: 10%;
            .title{
                color: #E9CB2B;
                font-family: Barlow;
            }
        }
        .sponsor-grid{
            height: 90%;
            width: 100%;
        }
    }
}