.team-item {
    background: linear-gradient(105.87deg, rgba(51, 169, 255, 0.31) 3.04%, rgba(255, 255, 255, 0) 96.05%);
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));
    backdrop-filter: blur(80px);
    border-radius: 20px;
    height: 100%;
    width: 80%;
    display: flex;
    // flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1.86px solid;

    border-image-source: radial-gradient(98% 49.86% at 100.03% 100%, rgba(2, 23, 98, 0.525) 0%, rgba(2, 23, 98, 0.035) 100%),
        radial-gradient(24.21% 39.21% at 0% 0%, rgba(255, 255, 255, 0.1705) 0%, rgba(255, 255, 255, 0.1045) 100%),
        radial-gradient(21.19% 40.1% at 100.03% 0%, rgba(0, 0, 0, 0.375) 0%, rgba(0, 0, 0, 0) 100%);

    .team-col {
        padding: 5% 0;
        height: 100%;
        width: 80%;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        align-items: center;

        .particular-team {
            width: 60%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .profile-pic {
                height: 40%;

                img {
                    filter: drop-shadow(4px 4px 5px rgba(0, 0, 0, 0.3));
                    border-radius: 250px;
                    width: 100%;
                    height: 100%;
                }
            }

            .other-details {
                height: 40%;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;

                .mem_name {
                    font-family: Avenir Next;
                    color: white;
                    opacity: 60%;
                    font-size: 14px;
                }

                .mem_role {
                    font-family: Avenir Next;
                    color: white;
                    font-size: 14px;
                }

                .social-acc {
                    display: flex;
                    justify-content: space-evenly;
                    width: 100%;
                }
            }
        }
    }
}