$tablet: 1000px;
$mobile: 600px;
$small-mobile: 400px;

.evnt-form {
  width: 100vw;
  height: 100vh;
  background: url("../../assets/images/event-form-bg.png") no-repeat bottom;
  background-size: cover;

  @media screen and (max-width: $tablet) {
    align-items: center;
    background: none;
    display: flex;
    justify-content: center;
    position: fixed;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;

    @media screen and (max-width: $tablet) {
      height: 90%;
      width: 85%;
      justify-content: space-evenly;
      display: block;
      position: fixed;
      margin: auto;
      overflow: scroll;
      -ms-overflow-style: none;
      scrollbar-width: none;
      &::-webkit-scrollbar {
        display: none;
      }
    }

    &__title {
      padding-top: 10px;
      font-family: avenir;
      font-size: 42px;
      color: #e4c142;
      padding-bottom: 1.5%;
      text-align: center;
    }

    &__children {
      padding: 0px 20px;
      min-height: 60vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      overflow: scroll;
      overflow-x: hidden;

      &::-webkit-scrollbar {
        width: 5px;
        margin-left: 10px;
      }
      
      &::-webkit-scrollbar-thumb {
        background: rgba(28, 160, 255, 0.6);
      }
      
      &::-webkit-scrollbar-thumb:hover {
        background: rgba(28, 160, 255, 0.6);
      }
      
      scrollbar-color: rgba(28, 160, 255, 0.6) transparent;
      scrollbar-width: thin;
      
      margin-top: 100px;

      @media screen and (max-height: 700px){
        margin-top: 50px;
      }

      @media screen and (max-width: $tablet) {
        width: -webkit-fill-available;
        margin-top: 20px;
        background: linear-gradient(
          105.87deg,
          rgba(51, 169, 255, 0.31) 3.04%,
          rgba(147, 209, 255, 0.05) 100.02%
        );
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(80px);
        border-radius: 20px;
        padding-top: 30px;
      }
    }
  }
}
