.team-selector {
  background: url("../../../assets/images/Team/team-selector-bg.png") no-repeat
    center center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 9vh;
  margin: 2% auto;
}
