.faq-scroll-bar{
    // border: 1px solid white;
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

    .buttons{
        height: 90%;
        width: 50%;
        @media only screen and (max-width: 500px){
            width: 15% !important;
        }
        // -webkit-tap-highlight-color: transparent;
        display: flex;
        justify-content: space-evenly;
        .selected-sphere{
            width: 90%;
            transition: all 0.15s ease;
            animation-name: rotateSphere;
            animation-duration: 1.5s;
        }
        @keyframes rotateSphere {
            from{
                transform: rotate(0deg);
            }
            to{
                transform: rotate(359deg);
            }
        }
        img{
            width: 90%;
            cursor: pointer;
        }
    }
}