.dashboard-about-card {
  width: 40%;
  &__row {
    display: flex;
    margin: 3% 0;
    &__title {
      width: 40%;
      font-family: Barlow;
      font-size: 1.3rem;
      font-style: normal;
      font-weight: 500;
      letter-spacing: 0em;
      color: #48b2ff;
    }
    &__value {
      width: 60%;
      font-family: Barlow;
      font-size: 1.3rem;
      font-style: normal;
      font-weight: 400;
      letter-spacing: 0em;
      color: white;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.dashboard-about-card > div {
  padding: 0.5% 6%;
}

@media (max-width: 1350px) {
  .dashboard-about-card {
    width: 42%;
    &__row {
      margin: 3% 0;
      &__title {
        width: 40%;
        font-size: 1.3rem;
      }
      &__value {
        width: 60%;
        font-size: 1.3rem;
      }
    }
  }
}

// mob view triggered
@media (max-width: 1050px) {
  .dashboard-about-card {
    width: 100%;
    margin-bottom: 6%;
    &__row {
      margin: 2% 0;
      &__title {
        font-size: 1.8rem;
      }
      &__value {
        font-size: 1.8rem;
      }
    }
  }

}

@media (max-width: 650px) {
  .dashboard-about-card {
    &__row {
      margin: 2% 0;
      &__title {
        font-size: 1.5rem;
      }
      &__value {
        font-size: 1.5rem;
      }
    }
  }
  .pass-reset-text{
    font-size: 16px;
  line-height: 20px;
  }
}

@media (max-width: 550px) {
  .dashboard-about-card {
    &__row {
      margin: 3% 0;
      &__title {
        font-size: 1.2rem;
      }
      &__value {
        font-size: 1.2rem;
      }
    }
  }
  
  .pass-reset-text{
    font-size: 14px;
  line-height: 18px;
  }
}

@media (max-width: 470px) {
  .dashboard-about-card {
    &__row {
      margin: 3% 0;
      &__title {
        font-size: 1rem;
      }
      &__value {
        font-size: 1rem;
      }
    }
  }
  
  .pass-reset-text{
    font-size: 12px;
  line-height: 16px;
  }
}

@media (max-width: 400px) {
  .dashboard-about-card {
    &__row {
      margin: 3% 0;
      &__title {
        font-size: 0.9rem;
      }
      &__value {
        font-size: 0.9rem;
      }
    }
  }
  .pass-reset-text{
    font-size: 10px;
  line-height: 14px;
  }
}
