.dashboard-event-carousel-card {
  margin: 2.5% 0;
  &__title {
    font-family: Barlow;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.8rem;
    letter-spacing: 0em;
    color: #f8b813;
    padding-bottom: 8%;
  }
  &__dt-cont {
    text-align: center;
    padding-bottom: 7%;
    &__date {
      font-family: Chakra Petch;
      font-size: 1.125rem;
      font-style: normal;
      font-weight: 600;
      line-height: 1.25rem;
      letter-spacing: 0em;
      color: #ffffffbf;
    }
    &__time {
      margin-top: 4%;
      font-family: Chakra Petch;
      font-size: 1.1rem;
      font-style: normal;
      font-weight: 600;
      line-height: 1.2rem;
      letter-spacing: 0em;
      color: #ffffffbf;
    }
  }
  &__team-size {
    margin-bottom: 6%;
    background: url("../../../assets/images/dashboard-event-team-bg.png")
      no-repeat center center/cover;
    width: 100%;
    height: 17%;
    font-family: Chakra Petch;
    font-size: 1.05rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.2rem;
    letter-spacing: 0em;
    display: flex;
    justify-content: center;
    align-items: center;
    span:nth-child(1) {
      color: white;
    }
    span:nth-child(2) {
      margin-left: 3%;
      color: #f8b813;
    }
  }
  &__team-name {
    &__title {
      font-family: Barlow;
      font-size: 1.1rem;
      font-style: normal;
      font-weight: 400;
      line-height: 1.2rem;
      letter-spacing: 0em;
      text-align: center;
      color: white;
    }
    &__value {
      padding: 4% 0;
      color: #1ca0ff;
      font-family: Barlow;
      font-size: 1.4rem;
      font-style: normal;
      font-weight: 600;
      letter-spacing: 0em;
      text-align: center;
    }
  }
  &__checkmark {
    position: absolute;
    bottom: 4.5%;
  }
}

.dashboard-event-carousel-card > div {
  margin: 0% auto;
  padding: 3vh 0 5vh 0;
  width: 15vw;
  height: 35vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
