@media only screen and (max-width: 1200px) {
    .left-door-container {
        left: 28% !important;
    }

    .right-door-container {
        right: 32% !important;
    }

    .event-title {
        .title {
            font-size: 24px !important;
        }
    }

    .event-container {
        .event-para {
            font-size: 16px !important;
        }
    }

    .time-line {
        .date1 {
            p {
                font-size: 14px !important;
            }
        }
    }

    .buttonCont {
        .submit-text {
            p {
                font-size: 10px !important;
            }

            .text_image {
                p {
                    font-size: 10px !important;
                }
            }
        }

        .button-container {
            button {
                font-size: 14px !important;
            }
        }
    }

    .left-event-details {
        .prize-sec p {
            font-size: 14px !important;
        }

        .team-sec p {
            font-size: 14px !important;
        }
    }

    .right-event-container {
        p {
            font-size: 12px !important;
        }
    }

    .rules {
        p {
            font-size: 14px !important;
        }
    }
}

@media only screen and (width: 1024px) and (height: 850px) {
    .left-door-container {
        left: 28% !important;
    }

    .right-door-container {
        right: 8% !important;
    }

    .event-title {
        .title {
            font-size: 24px !important;
        }
    }

    .event-container {
        .event-para {
            font-size: 16px !important;
        }
    }

    .time-line {
        .date1 {
            p {
                font-size: 12px !important;
            }
        }
    }

    .buttonCont {
        .button-container {
            button {
                font-size: 14px !important;
            }
        }
    }

    .left-event-details {
        .prize-sec p {
            font-size: 14px !important;
        }

        .team-sec p {
            font-size: 14px !important;
        }
    }

    .right-event-container {
        p {
            font-size: 12px !important;
        }
    }

    .rules {
        p {
            font-size: 14px !important;
        }
    }
}

.event {
    display: grid;
    grid-template-columns: auto 1.8fr auto;
    grid-template-rows: auto;
    height: 100%;
    width: 100%;

    @media only screen and (max-width: 1600px) and (max-height: 705px) {
        .event-title {
            .title {
                font-size: 18px !important;
            }
        }

        .event-container {
            .event-para {
                font-size: 12px !important;
            }
        }

        .time-line {
            .date1 {
                p {
                    font-size: 10px !important;
                }
            }
        }

        .buttonCont {
            .button-container {
                button {
                    font-size: 14px !important;
                }
            }
        }

        .left-event-details {
            .prize-sec p {
                font-size: 16px !important;
            }

            .team-sec p {
                font-size: 16px !important;
            }
        }

        .right-event-container {
            p {
                font-size: 14px !important;
            }
        }
    }

    @media only screen and (max-height: 600px) {
        .event-title {
            .title {
                font-size: 16px !important;
            }
        }

        .event-container {
            .event-para {
                font-size: 10px !important;
            }
        }

        .time-line {
            .date1 {
                p {
                    font-size: 10px !important;
                }
            }
        }

        .buttonCont {
            .button-container {
                button {
                    font-size: 10px !important;
                }
            }
        }

        .left-event-details {
            .prize-sec p {
                font-size: 14px !important;
            }

            .team-sec p {
                font-size: 14px !important;
            }
        }

        .right-event-container {
            p {
                font-size: 12px !important;
            }
        }
    }

    @media only screen and (max-width: 1880px) and (height: 768px),
    (height: 850px),
    (height: 882px) {
        .event-title {
            .title {
                font-size: 24px !important;
            }
        }

        .event-container {
            .event-para {
                font-size: 16px !important;
            }
        }

        .time-line {
            .date1 {
                p {
                    font-size: 16px !important;
                }
            }
        }

        .buttonCont {
            .button-container {
                button {
                    font-size: 16px !important;
                }
            }
        }

        .left-event-details {
            .prize-sec p {
                font-size: 20px !important;
            }

            .team-sec p {
                font-size: 20px !important;
            }
        }

        .right-event-container {
            p {
                font-size: 16px !important;
            }
        }
    }

    @media only screen and (width: 1024px) and (height: 850px) {
        .left-door-container {
            left: 28% !important;
        }

        .right-door-container {
            right: 8% !important;
        }

        .event-title {
            .title {
                font-size: 24px !important;
            }
        }

        .event-container {
            .event-para {
                font-size: 16px !important;
            }
        }

        .time-line {
            .date1 {
                p {
                    font-size: 12px !important;
                }
            }
        }

        .buttonCont {
            .button-container {
                button {
                    font-size: 12px !important;
                }
            }
        }

        .left-event-details {
            .prize-sec p {
                font-size: 12px !important;
            }

            .team-sec p {
                font-size: 12px !important;
            }
        }

        .right-event-container {
            p {
                font-size: 12px !important;
            }
        }

        .rules {
            p {
                font-size: 12px !important;
            }
        }
    }

    .left-door-container {
        height: 100%;
        display: flex;
        justify-content: flex-end;
        min-width: 0;
        min-height: 0;
        position: relative;
        left: 38%;
        width: 100%;

        .left-door {
            height: 100%;
        }
    }

    .right-door-container {
        height: 100%;
        min-width: 0;
        min-height: 0;
        display: flex;
        width: 100%;
        justify-content: flex-start;
        position: relative;
        right: 30%;

        .right-door {
            height: 100%;
            transform: rotateY(180deg);
        }
    }

    .details {
        margin: auto;
        background: radial-gradient(100% 100% at 50% 0%, rgba(7, 30, 64, 0.68) 0%, rgba(13, 57, 121, 0.595) 100%);
        height: 93%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding: 0 4%;

        .event-title {
            width: 80%;
            text-align: center;
            font-weight: 400;
            font-size: 1.8em;
            font-family: Rekt Brush;
            text-transform: uppercase;
        }

        .event-container {
            width: 80%;
            display: flex;
            justify-content: center;

            .event-para {
                // width: 80%;
                text-align: center;
                font-family: Barlow;
                font-size: 0.9rem;
                font-weight: 200;
                line-height: 1.5rem;

                .discord-server {
                    text-decoration: none;
                    color: #1CA0FF;
                }
            }

        }

        .time-line {
            width: 80%;
            display: flex;
            justify-content: center;

            .to-dot {
                margin-left: 8%;
                margin-right: 8%;
            }

            .date1 {
                background-image: url("../../assets/images/Events/time-background.svg");
                background-repeat: no-repeat;
                background-size: cover;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 165px;
                padding: 8px 0px;

                .date1-items {
                    font-family: Barlow;
                    text-align: center;
                    font-size: 15px;
                }

                .time {
                    font-family: Barlow;
                    font-size: 15px;
                }

                .date-line {
                    width: 65%;
                    height: 0.5rem;
                }
            }
        }

        .event-detail {
            width: 80%;
            height: 10rem;
            display: flex;
            justify-content: space-evenly;


            .left-event-details {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;

                .prize-sec {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;

                    .prize-worth-query {
                        color: #1CA0FF;
                        font-size: 20px;
                        font-weight: bold;
                        font-family: Barlow;
                    }

                    .prize-dets {
                        margin-right: 4%;
                        font-size: 20px;
                        font-weight: bold;
                        font-family: Barlow;
                        width: 40%;
                        text-align: center;
                    }
                }

                .team-sec {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;

                    .team-size-query {
                        color: #1CA0FF;
                        font-size: 20px;
                        font-weight: bold;
                        font-family: Barlow;
                    }

                    .team-dets {
                        margin-right: 4%;
                        font-size: 20px;
                        font-weight: bold;
                        font-family: Barlow;
                        width: 30%;
                        text-align: left;
                    }
                }

                .rules {
                    a {
                        text-decoration: none;
                        color: #1CA0FF;
                        font-family: Barlow;
                    }

                    display: flex;
                    width: 100%;
                }
            }

            .mid-line {
                display: flex;
                flex-direction: column;
                justify-content: center;
                height: 9.2rem;
                border: 0.851231px solid rgba(255, 255, 255, 0.4);
            }

            .right-event-container {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;

                .convenor-sec {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;

                    .conv {
                        font-family: Barlow;
                        font-size: 0.9rem;
                        color: #1CA0FF;
                        width: 40%;
                        margin-left: 6%;
                    }

                    .convenor-dets {
                        font-family: Barlow;
                        font-size: 0.9rem;
                        width: 50%;
                        text-align: left;
                    }
                }

                .co-convenor-sec {
                    width: 100%;

                    display: flex;
                    justify-content: space-between;

                    .coconv {
                        font-family: Barlow;
                        color: #1CA0FF;
                        font-size: 0.9rem;
                        width: 40%;
                        margin-left: 6%;

                    }

                    .co_convenor-details {
                        font-family: Barlow;
                        font-size: 0.9rem;
                        width: 50%;
                    }
                }

                .members-sec {
                    .mems {
                        font-family: Barlow;
                        color: #1CA0FF;
                        font-size: 0.9rem;
                        width: 40%;
                        margin-left: 6%;
                    }

                    width: 100%;

                    display: flex;
                    justify-content: space-between;

                    .members-details {
                        font-family: Barlow;
                        font-size: 0.9rem;
                        width: 50%;
                    }

                }
            }
        }

        .reg-cont {
            width: 100%;
            display: flex;
            justify-content: center;

            .close-text {
                color: #F8B813;
                font-family: Barlow;
                font-size: 22px;

            }
        }

        .buttonCont {
            display: flex;
            justify-content: center;
            width: 80%;

            .button-container {

                .submit-text {
                    // border: 1px solid white;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    .text_image {
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        .submitted_text {
                            color: #F8B813;
                            font-family: Barlow;
                            font-size: 16px;
                            margin-right: 4%;
                        }

                        .green-tick {
                            width: 10%;
                        }
                    }

                    .teamCode {
                        color: white;
                        font-weight: bold;
                        font-family: Barlow;
                        font-size: 16px;
                    }

                    .team_code_text {
                        color: #F8B813;
                        font-family: Barlow;
                        font-size: 16px;
                    }
                }

                width: 100%;
                display: flex;
                justify-content: center;

                .mid-button-line {
                    margin-left: 7%;
                    margin-right: 4%;
                }

                #single-button {
                    margin-right: -3%;
                }

                a,
                button {
                    font-family: Barlow;
                    font-weight: 700;
                    border: none;
                    border-radius: 10px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 10rem;
                    padding: 0.30em 0;
                    background-color: #EBC027;
                    color: #29457C;
                    font-size: 16px;
                    box-shadow: 0px 3.17885px 3.17885px rgba(0, 0, 0, 0.25);
                    cursor: pointer;
                }
            }
        }

    }
}

.time {
    padding-bottom: 5px;
}

.date1-items {
    padding-bottom: 2px;
}