.team_wrapper {
    display: flex;
    margin-right: -30px;
    overflow: auto;
    box-sizing: border-box;
    padding-left: 25px;
    // height: 100vh;
    width: 100vw;
    min-width: 100vw;
    position: fixed;
    bottom: 0%;
    left: 0px;
    display: initial;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 16%;
    overflow-x: scroll !important;
    box-sizing: border-box;
    // height: 100%;
    margin-bottom: 4%;
    // border: 1px solid white;

    .team-scroll-bar {
        height: 45px;
        width: max-content;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 20px;
        padding-bottom: 4%;
        
        .particular-team {
            // @media only screen and (max-width: 380px){
            //     &:first-child{
            //         margin-left: 7rem;
            //     }
            // }
            // @media only screen and (min-width:381px) and (max-width: 450px){
            //     &:first-child{
            //         margin-left: 5rem;
            //     }
            // }
            
            text-align: center;
            display: block;
            // width: 100%;
            color: rgba(255, 255, 255, 0.6);
            font-family: Baumans;
            font-size: 16px;
            margin-right: 10px;
            // margin-left: 2%;

            p{
                width: max-content;
            }
            .active {
                animation-name: tweak-up;
                animation-duration: 1s;
                color: #FFD79D;
                text-shadow: 0px 0px 4.85399px #EB8800;
            }

            @keyframes tweak-up {
                0% {
                    transform: translateY(0px);
                }

                50% {
                    transform: translateY(-8px);
                }

                100% {
                    transform: translateY(0px);
                }

            }
        }
    }
}