.scroll_bar_view_port {
    // width: fit-content;
    // height: 100%;
    // overflow-x: scroll;
    // border: 1px solid white;
    // overflow-x: auto;
    display: flex;
    margin-right: -30px;
    overflow: auto;
    box-sizing: border-box;
    padding-left: 25px;
    width: 100vw;
    min-width: 100vw;
    position: fixed;
    top: 0%;
    left: 0px;
    display: initial;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 16%;
    overflow-x: scroll !important;
    box-sizing: border-box;
    height: 100%;

    .scroll_bar {
        height: 45px;
        width: max-content;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 20px;
        
        .particular-element {
            text-align: center;
            display: block;
            width: 100%;
            color: rgba(255, 255, 255, 0.6);
            font-family: Baumans;
            font-size: 16px;
            margin-right: 0.8%;
            margin-left: 0.8%;

            .active{
                animation-name: tweak-up;
                animation-duration: 1s;
                color: #FFC700;
            }

            @keyframes tweak-up {
                0% {
                    transform: translateY(0px);
                }
                50% {
                    transform: translateY(-8px);
                }
                100%{
                    transform: translateY(0px);
                }

            }
        }
    }
}