.event-modal__backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: #0a2245;
  z-index: 3;
}

.event-modal__content::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.event-modal__content::-webkit-scrollbar-track {
  background: #c6e7ff1a;
}

/* Handle */
.event-modal__content::-webkit-scrollbar-thumb {
  background: #e4c142;
}

/* Handle on hover */
.event-modal__content::-webkit-scrollbar-thumb:hover {
  background: #e4c142;
}

.event-modal {
  width: 53%;
  height: 100%;
  margin: 0% auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3% 0;
  border-radius: 8px;
  &__title {
    font-family: Lexie Readable;
    color: #e4c142;
    font-family: Lexie Readable;
    font-size: 2.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 3.125rem;
    letter-spacing: 0em;
  }
  &__content {
    overflow-y: scroll;
    & > * {
      width: 80%;
      display: flex;
      text-align: left;
    }
    margin: 4% 0;
    padding: 5% 0 3% 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(28, 160, 255, 0.1);
    box-shadow: 0px 3.5px 3.5px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    &__schedule {
      color: white;
      &__key {
        width: 50%;
        font-family: Barlow;
        font-size: 1.4rem;
        font-style: normal;
        font-weight: 600;
        line-height: 1.625rem;
        letter-spacing: 0em;
        color: white;
      }
      &__value {
        width: 50%;
        font-family: Barlow;
        font-size: 1.4rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.625rem;
        letter-spacing: 0em;
        &__date {
          color: #00e0ff;
        }
        &__time {
          color: #e4c142;
        }
      }
    }

    &__registration {
      padding-top: 2%;
      &__key {
        width: 50%;
        font-family: Barlow;
        font-size: 1.4rem;
        font-style: normal;
        font-weight: 600;
        line-height: 1.625rem;
        letter-spacing: 0em;
        color: white;
      }
      &__value {
        width: 50%;
        &-complete,
        &-incomplete {
          font-family: Barlow;
          font-size: 1.4rem;
          font-style: normal;
          font-weight: 600;
          letter-spacing: 0em;
        }
        &-complete {
          color: #11da00;
        }
        &-incomplete {
          display: flex;
          align-items: center;
          &__text {
            color: #e4c142;
          }
          &__remaining {
            padding-left: 2%;
            color: #00e0ff;
            font-size: 1rem;
          }
        }
      }
    }

    &__divider {
      padding: 4% 0;
      width: 100%;
      display: flex;
      justify-content: center;
      img {
        width: 90%;
      }
    }

    &__part-details {
      display: flex;
      flex-direction: column;
      &__detail {
        display: flex;
        margin-bottom: 3%;
        &-key,
        &-value {
          width: 50%;
          font-family: Barlow;
          font-size: 1.4rem;
          font-style: normal;
          line-height: 1.625rem;
          letter-spacing: 0em;
        }
        &-key {
          font-weight: 600;
          color: #1ca0ff;
        }
        &-value {
          font-weight: 400;
          color: white;
        }
        &-value > * {
          padding-bottom: 2%;
        }
        &-value > *:nth-child(even) {
          padding-bottom: 5%;
        }
      }
    }
  }
  &__button {
    cursor: pointer;
    background: #1ca0ff99;
    padding: 1% 2%;
    font-family: Barlow;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5rem;
    letter-spacing: 0em;
    text-align: center;
    border-radius: 11px;
    color: white;
  }
}

@media (max-width: 1250px) {
  .event-modal__backdrop {
    width: 100%;
    min-height: 100vh;
    background-color: #0a2245;
    z-index: 3;
  }
  .event-modal {
    width: 65%;
    height: 100%;
    margin: 0% auto;
    padding: 3% 0;
    border-radius: 8px;
    &__title {
      font-size: 2.8rem;
      line-height: 3.125rem;
    }
    &__content {
      & > * {
        width: 80%;
      }
      margin: 4% 0;
      padding: 5% 0 3% 0;
      width: 100%;
      border-radius: 8px;
      &__schedule {
        &__key {
          width: 50%;
          font-size: 1.4rem;
          line-height: 1.625rem;
        }
        &__value {
          width: 50%;
          font-size: 1.4rem;
          line-height: 1.625rem;
        }
      }

      &__registration {
        padding-top: 2%;
        &__key {
          width: 50%;
          font-size: 1.4rem;
          line-height: 1.625rem;
        }
        &__value {
          width: 50%;
          &-complete,
          &-incomplete {
            font-size: 1.4rem;
          }
          &-incomplete {
            &__remaining {
              padding-left: 2%;
              font-size: 1rem;
            }
          }
        }
      }

      &__divider {
        padding: 4% 0;
        width: 100%;
        img {
          width: 90%;
        }
      }

      &__part-details {
        &__detail {
          margin-bottom: 3%;
          &-key,
          &-value {
            width: 50%;
            font-size: 1.4rem;
            line-height: 1.625rem;
          }
          &-value > * {
            padding-bottom: 2%;
          }
          &-value > *:nth-child(even) {
            padding-bottom: 5%;
          }
        }
      }
    }
    &__button {
      padding: 1% 2%;
      font-size: 1.2rem;
      line-height: 1.5rem;
      border-radius: 11px;
    }
  }
}

@media (max-width: 1050px) {
  .event-modal__backdrop {
    width: 100%;
    min-height: 100vh;
    background-color: #0a2245;
    z-index: 3;
  }
  .event-modal {
    width: 80%;
    height: 100%;
    margin: 0% auto;
    padding: 3% 0;
    border-radius: 8px;
    &__title {
      font-size: 2.8rem;
      line-height: 3.125rem;
    }
    &__content {
      & > * {
        width: 80%;
      }
      margin: 4% 0;
      padding: 5% 0 3% 0;
      width: 100%;
      border-radius: 8px;
      &__schedule {
        &__key {
          width: 50%;
          font-size: 1.4rem;
          line-height: 1.625rem;
        }
        &__value {
          width: 50%;
          font-size: 1.4rem;
          line-height: 1.625rem;
        }
      }

      &__registration {
        padding-top: 2%;
        &__key {
          width: 50%;
          font-size: 1.4rem;
          line-height: 1.625rem;
        }
        &__value {
          width: 50%;
          &-complete,
          &-incomplete {
            font-size: 1.4rem;
          }
          &-incomplete {
            &__remaining {
              padding-left: 2%;
              font-size: 1rem;
            }
          }
        }
      }

      &__divider {
        padding: 4% 0;
        width: 100%;
        img {
          width: 90%;
        }
      }

      &__part-details {
        &__detail {
          margin-bottom: 3%;
          &-key,
          &-value {
            width: 50%;
            font-size: 1.4rem;
            line-height: 1.625rem;
          }
          &-value > * {
            padding-bottom: 2%;
          }
          &-value > *:nth-child(even) {
            padding-bottom: 5%;
          }
        }
      }
    }
    &__button {
      padding: 1% 2%;
      font-size: 1.2rem;
      line-height: 1.5rem;
      border-radius: 11px;
    }
  }
}

@media (max-width: 750px) {
  .event-modal__backdrop {
    width: 100%;
    min-height: 100vh;
    background-color: #0a2245;
    z-index: 3;
  }
  .event-modal {
    width: 90%;
    height: 100%;
    margin: 0% auto;
    padding: 3% 0;
    border-radius: 8px;
    &__title {
      font-size: 2.6rem;
      line-height: 3rem;
    }
    &__content {
      & > * {
        width: 85%;
      }
      margin: 4% 0;
      padding: 5% 0 3% 0;
      width: 100%;
      border-radius: 8px;
      &__schedule {
        &__key {
          width: 50%;
          font-size: 1.2rem;
          line-height: 1.4rem;
        }
        &__value {
          width: 50%;
          font-size: 1.2rem;
          line-height: 1.4rem;
        }
      }

      &__registration {
        padding-top: 2%;
        &__key {
          width: 50%;
          font-size: 1.2rem;
          line-height: 1.4rem;
        }
        &__value {
          width: 50%;
          &-complete,
          &-incomplete {
            font-size: 1.2rem;
          }
          &-incomplete {
            &__remaining {
              padding-left: 2%;
              font-size: 1rem;
            }
          }
        }
      }

      &__divider {
        padding: 4% 0;
        width: 100%;
        img {
          width: 90%;
        }
      }

      &__part-details {
        &__detail {
          margin-bottom: 3%;
          &-key,
          &-value {
            width: 50%;
            font-size: 1.2rem;
            line-height: 1.4rem;
          }
          &-value > * {
            padding-bottom: 2%;
          }
          &-value > *:nth-child(even) {
            padding-bottom: 5%;
          }
        }
      }
    }
    &__button {
      padding: 2% 3%;
      font-size: 1.1rem;
      line-height: 1.3rem;
      border-radius: 11px;
    }
  }
}

@media (max-width: 550px) {
  .event-modal__backdrop {
    width: 100%;
    min-height: 100vh;
    background-color: #0a2245;
    z-index: 3;
  }
  .event-modal {
    width: 90%;
    height: 100%;
    margin: 0% auto;
    padding: 3% 0;
    border-radius: 8px;
    &__title {
      font-size: 2.4rem;
      line-height: 2.5rem;
      padding-top: 4%;
    }
    &__content {
      & > * {
        width: 85%;
      }
      margin: 4% 0;
      padding: 5% 0 3% 0;
      width: 100%;
      border-radius: 8px;
      &__schedule {
        flex-wrap: wrap;
        text-align: center;
        &__key {
          width: 100%;
          font-size: 1.2rem;
          line-height: 1.4rem;
        }
        &__value {
          padding-top: 1%;
          width: 100%;
          font-size: 1.2rem;
          line-height: 1.4rem;
        }
      }

      &__registration {
        text-align: center;
        flex-wrap: wrap;
        padding-top: 2%;
        &__key {
          width: 100%;
          font-size: 1.2rem;
          line-height: 1.4rem;
        }
        &__value {
          width: 100%;
          padding-top: 1%;
          &-complete,
          &-incomplete {
            font-size: 1.2rem;
          }
          &-incomplete {
            &__remaining {
              padding-left: 2%;
              font-size: 1rem;
            }
          }
        }
      }

      &__divider {
        padding: 4% 0;
        width: 100%;
        img {
          width: 90%;
        }
      }

      &__part-details {
        &__detail {
          text-align: center;
          flex-wrap: wrap;
          margin-bottom: 3%;
          &-key,
          &-value {
            padding-top: 1%;
            width: 100%;
            font-size: 1.2rem;
            line-height: 1.4rem;
          }
          &-value > * {
            padding-bottom: 2%;
          }
          &-value > *:nth-child(even) {
            padding-bottom: 5%;
          }
        }
      }
    }
    &__button {
      margin: 2% 0;
      padding: 2% 3%;
      font-size: 1.1rem;
      line-height: 1.3rem;
      border-radius: 11px;
    }
  }
}

@media (max-width: 400px) {
  .event-modal {
    &__title {
      font-size: 2.1rem;
      line-height: 2.2rem;
      padding-top: 4%;
    }
  }
}

@media (max-width: 330px) {
  .event-modal {
    &__title {
      font-size: 2rem;
      line-height: 2.1rem;
      padding-top: 4%;
    }
  }
}
