@font-face {
    font-family: Barlow;
    src: url("../../assets/fonts/Barlow-Regular.ttf");
}
.particular-component{
    text-decoration: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media only screen and (max-width: 768px){
        height: 100%;
        width: 100%;
        margin-bottom: 20%;
    }
    .sponsor-background{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 80%;
        @media only screen and (max-width: 768px){
            width: 20rem;
            height: 20rem;
        }
        .logo{
            @media only screen and (max-width: 768px) and (min-width: 450px){
                width: 29%;
            }
            width: 40%;
        }
    }
    .sponsor-type{
        width: 100%;
        text-align: center;
        .type{
            text-align: center;
            text-transform: uppercase;
            color: white;
            font-size: 1.2em;
            font-family: Barlow;
        }
    }
}