.dashboard__title-cont {
  background: url("../../assets/images/dashboard-title-bg.png") no-repeat center
    bottom;
  background-size: contain;
  height: 9vh;
  background-color: #0a2245;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  &__home,
  &__logout {
    position: relative;
    outline: none;
    background: none;
    border: none;
    display: flex;
    cursor: pointer;
    &-title {
      font-family: Barlow;
      font-size: 1.3rem;
      font-style: normal;
      font-weight: 400;
      letter-spacing: 0em;
      color: white;
    }
    &-icon--tab {
      display: none;
    }
  }
  &__home {
    top: 10%;
    right: 10%;
    &-icon {
      img {
        width: 82%;
      }
    }
  }
  &__logout {
    top: 15%;
    left: 10%;
    &-title {
      padding-right: 2%;
      line-height: 1.3rem;
    }
    &-icon {
      img {
        width: 90%;
      }
    }
  }
  &__mob-btns-cont {
    display: none;
  }
  &__main-heading {
    font-family: Barlow;
    font-size: 2.1rem;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0em;
    color: #ffffff;
    margin: 0.4% 0%;
  }
}

@media (max-width: 1400px) {
  .dashboard__title-cont {
    &__home {
      top: 10%;
      right: 11%;
    }
    &__logout {
      left: 11%;
    }
  }
}

@media (max-width: 1300px) {
  .dashboard__title-cont {
    &__home {
      right: 12%;
    }
    &__logout {
      left: 12%;
    }
  }
}

@media (max-width: 1185px) {
  .dashboard__title-cont {
    &__home {
      right: 13%;
    }
    &__logout {
      left: 13%;
    }
  }
}

@media (max-width: 1085px) {
  .dashboard__title-cont {
    &__home {
      right: 14%;
    }
    &__logout {
      left: 14%;
    }
  }
}

// tab view triggered
@media (max-width: 1050px) {
  .dashboard__title-cont {
    height: fit-content;
    align-items: center;
    padding: 3% 0;
    background: none;
    &__home,
    &__logout {
      &-title {
        display: none;
      }
      &-icon {
        display: none;
      }
      &-icon--tab {
        display: flex;
        align-items: center;
      }
    }
    &__main-heading {
      margin: 0;
      font-size: 3rem;
    }
  }
}

// mob view triggered
@media (max-width: 500px) {
  .dashboard__title-cont {
    flex-direction: column;
    align-items: center;
    padding: 4% 0;
    &__home,
    &__logout {
      display: none;
    }
    &__mob-btns-cont {
      width: 100%;
      display: flex;
      justify-content: space-between;
      &__home,
      &__logout {
        padding-top: 8%;
        outline: none;
        background: none;
        border: none;
        display: flex;
        cursor: pointer;
      }
    }
    &__main-heading {
      margin: 0;
    }
  }
}
