.navcard{
    &__wrapper{
        height: 7rem;
        display:flex;
        justify-content: center;
        align-items: center;
        background-color: #043d78;
    }
    &__container{
        transform-style: preserve-3d;
        // transition duration should match with that of sliding
        transition: all 500ms linear;
        display:flex;
        justify-content: center;
        align-items: center;
    }
    &__grad-border{
        height: 100%;
        width: 100%;
        display:flex;
        justify-content: center;
        align-items: center;
        position: relative;
        padding: 2px;
        border-radius: 7px;
    }
    &__content{
        color: white;
        font-size: 1.4rem;
        height: 100%;
        width: 100%;
        display:flex;
        justify-content: center;
        align-items: center;
        border-radius: 7px;
    }
}

.visible-card--{
    &1{
        transform: perspective(400px) rotateX(0deg) rotateY(-25deg) scale3d(1, 1, 1);
        width: 85%;
        height: 52%;
        box-shadow: 7px 0px 4px 0px #00000099;
        .navcard{
            &__grad-border{
                background-image: radial-gradient(80.79% 50% at 50% 50%, #8C4424 0%, rgba(140, 68, 36, 0) 100%), radial-gradient(2.03% 50% at 50% 50%, #0255F5 0%, rgba(2, 85, 245, 0.58) 100%), linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
            }
            &__content{
            background: radial-gradient(117.86% 105.16% at -9.82% -5.16%, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%);
            }
        }
    }
    &2{
        transform: perspective(500px) rotateX(0deg) rotateY(-25deg) scale3d(1, 1, 1);
        width: 85%;
        height: 59%;
        box-shadow: 6px 0px 4px 0px #00000099;
        .navcard{
            &__grad-border{
                background-image: radial-gradient(80.79% 50% at 50% 50%, #8C4424 0%, rgba(140, 68, 36, 0) 100%), radial-gradient(2.03% 50% at 50% 50%, #0255F5 0%, rgba(2, 85, 245, 0.58) 100%), linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
            }
            &__content{
                background: radial-gradient(100% 100% at 0% 0%, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%);
            }
        }
    }
    &3{
        transform: perspective(500px) rotateX(0deg) rotateY(0deg) scale3d(1, 1, 1);
        width: 85%;
        height: 65%;
        .navcard{
            &__grad-border{
                // background-image: radial-gradient(80.79% 50% at 50% 50%, #8C4424 0%, rgba(140, 68, 36, 0) 100%), radial-gradient(2.03% 50% at 50% 50%, #0255F5 0%, rgba(2, 85, 245, 0.58) 100%), linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);

                background: radial-gradient(80.79% 50% at 50% 50%, #8C4424 0%, rgba(140, 68, 36, 0) 100%), linear-gradient(0deg, #FFFFFF, #FFFFFF);
                backdrop-filter: blur(42px);
            }
            &__content{
                background: radial-gradient(100% 100% at 0% 0%, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%);
            }
        }
    }
    &4{
        transform: perspective(500px) rotateX(0deg) rotateY(25deg) scale3d(1, 1, 1);
        width: 85%;
        height: 59%;
        box-shadow: -6px 0px 4px 0px #00000099;
        .navcard{
            &__grad-border{
                // background-image: radial-gradient(80.79% 50% at 50% 50%, #8C4424 0%, rgba(140, 68, 36, 0) 100%), radial-gradient(2.03% 50% at 50% 50%, #0255F5 0%, rgba(2, 85, 245, 0.58) 100%), linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);

                background: radial-gradient(80.79% 50% at 50% 50%, #8C4424 0%, rgba(140, 68, 36, 0) 100%),
                radial-gradient(2.03% 50% at 50% 50%, #0255F5 0%, rgba(2, 85, 245, 0.58) 100%),
                linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
            }
            &__content{
                background: radial-gradient(100% 100% at 0% 0%, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%);
            }
        }
    }
    &5{
        transform: perspective(400px) rotateX(0deg) rotateY(25deg) scale3d(1, 1, 1);
        width: 85%;
        height: 52%;
        box-shadow: -7px 0px 4px 0px #00000099;
        .navcard{
            &__grad-border{
                // background-image: radial-gradient(80.79% 50% at 50% 50%, #8C4424 0%, rgba(140, 68, 36, 0) 100%), radial-gradient(2.03% 50% at 50% 50%, #0255F5 0%, rgba(2, 85, 245, 0.58) 100%), linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
                background-image: radial-gradient(95.22% 52.58% at 49.11% 47.42%, #8C4424 0%, rgba(140, 68, 36, 0) 100%),
                radial-gradient(2.39% 52.58% at 49.11% 47.42%, #00349A 0%, rgba(0, 52, 154, 0.58) 100%),
                linear-gradient(180deg, #0349A7 -5.16%, rgba(3, 73, 167, 0) 100%);


            }
            &__content{
                background: radial-gradient(117.86% 105.16% at -9.82% -5.16%, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%);
            }
        }
    }
    &1,&2,&3,&4,&5{
        border-radius: 7px;
        .navcard__content{
            color: white;
            background-color: #043d78;
        }
    }
}