.signup {
<<<<<<< HEAD
<<<<<<< HEAD
  &__bottom {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__status {
      &__error {
        font-size: 15px;
        font-weight: 500;
        color: #ff0033;
      }

      &__success {
        font-size: 15px;
        font-weight: 500;
        color: #12ca50;
      }
    }

    &__buttons {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 10px;

      &__page {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        background-color: transparent;
        border: none;
        // font-family: Lato;
        // font-style: normal;
        font-size: 20px;
        letter-spacing: 0.08em;
        color: #ddb83a;

        &__arrow {
          padding: 0px 5px;
        }
      }

      &__vl {
        border-left: 2px solid #ffffff;
        height: 48px;
      }

      &__submit {
        cursor: pointer;
        margin-left: 10px;
        width: 150px;
        height: 39px;
        background: #ecb427;
        border: none;
        box-shadow: 0px 0px 10px rgba(236, 180, 39, 0.6);
        border-radius: 5px;

        &__text {
          // font-family: Be Vietnam Pro;
          // font-style: normal;
          // font-weight: normal;
          font-size: 22px;
          color: rgba(0, 0, 0, 0.75);
        }
=======
  &__buttons {
    margin-top: 60px;
=======
  &__bottom {
    margin-top: 30px;
>>>>>>> 35a46db (connect authorization to server)
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__status {
      &__error {
        font-size: 15px;
        font-weight: 500;
        color: #ff0033;
      }

      &__success {
        font-size: 15px;
        font-weight: 500;
        color: #12ca50;
      }
    }

    &__buttons {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 10px;

      &__page {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        background-color: transparent;
        border: none;
        // font-family: Lato;
        // font-style: normal;
<<<<<<< HEAD
        // font-weight: normal;
        font-size: 22px;
        color: rgba(0, 0, 0, 0.75);
>>>>>>> 8a852ba (auth UI)
=======
        font-size: 20px;
        letter-spacing: 0.08em;
        color: #ddb83a;

        &__arrow {
          padding: 0px 5px;
        }
      }

      &__vl {
        border-left: 2px solid #ffffff;
        height: 48px;
      }

      &__submit {
        cursor: pointer;
        margin-left: 10px;
        width: 150px;
        height: 39px;
        background: #ecb427;
        border: none;
        box-shadow: 0px 0px 10px rgba(236, 180, 39, 0.6);
        border-radius: 5px;

        &__text {
          // font-family: Be Vietnam Pro;
          // font-style: normal;
          // font-weight: normal;
          font-size: 22px;
          color: rgba(0, 0, 0, 0.75);
        }
>>>>>>> 35a46db (connect authorization to server)
      }
    }
  }
}
