.auth {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 40px 0px 10px 0px;

  &__button {
    margin-top: 5px;
    width: 150px;
    height: 39px;
    background: #ecb427;
    border: none;
    box-shadow: 0px 0px 10px rgba(236, 180, 39, 0.6);
    border-radius: 5px;

    &:active {
      box-shadow: 0 1px #666;
      transform: translateY(0.5px);
    }

    &__text {
      // font-family: Be Vietnam Pro;
      // font-style: normal;
      // font-weight: normal;
      font-size: 22px;
      color: rgba(0, 0, 0, 0.75);
    }
  }

  &__error {
    font-size: 15px;
    font-weight: 500;
    color: #ff0033;
  }
}
