.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
<<<<<<< HEAD
<<<<<<< HEAD
  margin: 60px 0px 10px 0px;

  &__button {
    margin-top: 5px;
=======

  &__button {
    margin: 60px 0px 10px 0px;
>>>>>>> 8a852ba (auth UI)
=======
  margin: 60px 0px 10px 0px;

  &__button {
    margin-top: 5px;
>>>>>>> 35a46db (connect authorization to server)
    width: 150px;
    height: 39px;
    background: #ecb427;
    border: none;
    box-shadow: 0px 0px 10px rgba(236, 180, 39, 0.6);
    border-radius: 5px;

    &__text {
      // font-family: Be Vietnam Pro;
      // font-style: normal;
      // font-weight: normal;
      font-size: 22px;
      color: rgba(0, 0, 0, 0.75);
    }
  }
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> 35a46db (connect authorization to server)

  &__error {
    font-size: 15px;
    font-weight: 500;
    color: #ff0033;
  }
<<<<<<< HEAD
=======
>>>>>>> 8a852ba (auth UI)
=======
>>>>>>> 35a46db (connect authorization to server)
}
