.main-wrapper {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 0;
}
.test {
  position: absolute;
  height: 10vh;
  width: 100vw;
  z-index: 2;
  background-color: aqua;
  top: 0;
  background: url("../../assets/images/commonlayer_top.svg") no-repeat top
    center/auto;
  transform: translateY(-80%);
}
.navhover {
  display: flex;
  z-index: 2;
  align-items: flex-end;
  flex-direction: column;
  justify-content: flex-end;
  // transform: translateY(60%);
  animation: initial-down 2s;
  transition: transform 2s;
  &:hover {
    transform: translateY(0%);
  }
  &:hover ~ .test {
    transform: translateY(0%);
  }
  &:hover ~ .blur-layer {
    height: 100%;
    opacity: 1;
  }
  &:hover .navbar__content__hoverbar {
    animation: barout 2s forwards ease;
  }
}

.blur-layer {
  background: url("../../assets/images/glass-top.svg") no-repeat center
    center/cover;
  position: absolute;
  height: 0%;
  width: 100%;
  opacity: 0;
  z-index: 0;
}

.visible-layer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  justify-content: space-evenly;
  &-top {
    position: absolute;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    &-dashboard {
      height: 100%;
    }
  }

  &-bottom {
    height: 30%;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
}

@keyframes initial-up {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-9.5%);
  }
}

.visible-layer {
  &:hover .visible-layer-top-center {
    transform: translateY(0%);
  }
}

#lgndash {
  font-family: Rekt Brush;
  color: white;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 15px;
}

.dashboard-content {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  img {
    margin-bottom: 5px;
  }
}
.login-btn {
  column-gap: 10px;
  width: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: url("../../assets/images/commonlayer_dashboard.png") no-repeat
    center center;
  height: 50px;
}

.login-button-container {
  margin-top: 200px;
  display: flex;

  justify-content: center;
  align-items: center;
}
