@font-face {
    font-family: Poppins;
    src: url("../../assets/fonts/Poppins/Poppins-Regular.ttf");
}

.faq-card-arrow-cont{
    // border: 2px solid red;
    color: white;
    display: flex;
    justify-content: space-between;
    height: 100%;

    .arrow-left{
        height: 100%;
        // border: 1px solid white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .left-arrow-img{
            cursor: pointer;
        }
    }

    .arrow-right{
        height: 100%;
        // border: 1px solid white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .right-arrow-img{
            cursor: pointer;
        }
    }
    .details-container{
        height: 100%;
        // border: 1px solid white;
        display: flex;
        width: 65%;
        
        .particular-faq{
            height: 100%;
            // border: 1px solid greenyellow;
            
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;

            .faq-question{
                // border: 1px solid yellow;
                // height: 100%;
                // width: 60%;
                
                .question{
                    font-family: Poppins;
                    text-align: center;
                    color: #FFAA00;
                    font-size: 1.89em;
                    line-height: 2.8rem;
                }
                @media only screen and (min-width: 1024px) and (max-width: 1280px){
                    .question{
                        font-size: 20px;
                        line-height: 24px;
                    }
                    
                }
                @media only screen and (min-width: 1281px) and (max-width: 1770px){
                    .question{
                        font-size: 22px;
                    }
                    
                }
                
            }
            .faq-answer{
                // border: 1px solid red;

                // height: 100%;
                // width: 60%;
                .answer{
                    font-family: Poppins;
                    text-align: center;
                    font-size: 1.312em;
                    line-height: 1.9em;
                }
                @media only screen and (min-width: 1024px) and (max-width: 1280px){
                    .answer{
                        font-size: 14px;
                    }
                }
                @media only screen and (min-width: 1281px) and (max-width: 1770px){
                    .answer{
                        font-size: 16px;
                    }
                    
                }
            }
            
        }
    }
}

#disable-on{
    opacity: 0;
    cursor: none;
    pointer-events: none;
}